@using SafeAssignmentSystem.Models.WorkingRotationViewModels;
@model CreateShiftScheduleViewModel
@{
	ViewBag.Title = "Редактиране на смени";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container mt-3">
	<h2>Сменен график за месец @Model.Month @Model.Year</h2>
	<h4>На @Model.UserFullName</h4>
	
	<form asp-action="EditChangedSchedule" method="post">

		<div class="visually-hidden">
			<label asp-for="@Model.UserName" class="form-label"></label>
			<input asp-for="@Model.UserName" class="form-control hidden" aria-required="true" value="@Model.UserName" />
			<span asp-validation-for="@Model.UserName" class="text-danger"></span>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Дата</th>
					<th>Смяна</th>
				</tr>
			</thead>

			<tbody>
				@for (int i = 0; i < Model.UserShifts.Count; i++)
				{
					<tr>
						<td>
							<div>
								<label asp-for="@Model.UserShifts[i].Date" class="form-label">@Model.UserShifts[i].Date</label>
								<div class="visually-hidden">
									<input asp-for="@Model.UserShifts[i].Date" class="form-control" aria-required="true" />
									<span asp-validation-for="@Model.UserShifts[i].Date" class="text-danger"></span>
								</div>
							</div>
						</td>

						<td>
							<div>
								<select asp-for="@Model.UserShifts[i].ShiftId" class="form-control">
									@foreach (var shift in Model.ShiftsNames)
									{
										if (shift.KvP.Value == Model.UserShifts[i].ShiftName)
										{
											<option value="@shift.KvP.Key" selected>@shift.KvP.Value</option>
										}
										else
										{
											<option value="@shift.KvP.Key">@shift.KvP.Value</option>
										}
									}
								</select>
								<span asp-validation-for="@Model.UserShifts[i].ShiftId" class="text-danger"></span>
							</div>
						</td>
					</tr>                    
				}
			</tbody>
		</table>

		<div class="mb-3">
			<input class="btn btn-info" type="submit" value="Редактиране" />
		</div>
	</form>
</div>